mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  transition: all 0.3s ease;
}
mat-card{
    width: 300px;
}

p{
    color: white;
}
mat-card-title{
    color: white;
}

.criacao {
    color: #4CAF50; 
}
.refatoracao {
    color: #2196F3; 
}
.ajuste {
    color: #FFC107; 
}
.bug {          
    color: #F44336; 
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: fadeInUp 0.4s ease forwards;
}
.card-pendente {
  background-color: #1e1e1e;
  border-left: 4px solid #989898;
}
.card-excluida {
  background-color: rgba(220, 53, 69, 0.1);
  border-left: 4px solid #dc3545;
}

.card-completa {
  background-color: rgba(40, 167, 69, 0.1);
  border-left: 4px solid #28a745;
}


