mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
mat-card{
    width: 300px;
}

p{
    color: white;
}
mat-card-title{
    color: white;
}

.criacao {
    color: #4CAF50; 
}
.refatoracao {
    color: #2196F3; 
}
.ajuste {
    color: #FFC107; 
}
.bug {          
    color: #F44336; 
}